body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body ul li {
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #222222;
}
Header{
  background-color: #1d4b5f!important;
  font-size: 22px;
  color: white!important;
  font-weight: bold;
}
.login-form {
  max-width: 300px;

}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.loginForm{
  margin: 20px 100px 20px 100px ;
}
.Login{
  width: 450px;
  margin: 100px auto;
}

.active{
  color: red;
}
.menu{
  background-color: #1d4b5f!important;
  height: 100vh;
}
.tab{
  width: 1000px ;
  height: auto;
  margin: 50px auto;
}
.ant-table-pagination-right{
  float: none!important;
  text-align: center!important;
}
